.about {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 808px;
    height: 474px;
    background-image: url("../img/about-image.webp");
    background-size: cover;
    top: 95px;
    z-index: -1;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/about-image@2x.webp");
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 610px;
    height: 280px;
    background-image: url("../img/about-clouds.webp");
    background-size: cover;
    top: -70px;
    right: 0;
    z-index: -1;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/about-clouds@2x.webp");
    }
  }
}

.about__container {
  padding: 130px 0 30px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 600px;
}

.about__text {
  display: flex;
  flex-direction: column;
  padding-left: 51.2%;
  position: relative;

  & h2 {
    width: fit-content;
    font-size: 35px;
    line-height: 35px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 57px;
    color: #2d383f;
  }

  & span {
    position: absolute;
    color: rgb(45, 56, 63, 0.03);
    font-size: 55px;
    line-height: 55px;
    font-weight: 800;
    top: -15px;
  }

  & h3 {
    margin: 0;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    color: #2d383f;
    margin-bottom: 17px;
  }

  & p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #2d383f;
    font-weight: 400;
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet-width) {
  .about {
    position: relative;

    &::before {
      width: 475px;
      height: 402px;
      top: 60px;
      left: 0;
      background-image: url("../img/about-image-tablet.webp");
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/about-image-tablet@2x.webp");
      }
    }

    &::after {
      display: none;
    }
  }

  .about__container {
    padding: 55px 30px 35px;
    max-width: 100%;
    margin: 0;
    min-height: 461px;
  }

  .about__text {
    display: flex;
    flex-direction: column;
    padding-left: 52.2%;
    position: relative;

    & h2 {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 33px;
    }

    & span {
      font-size: 40px;
      line-height: 40px;
      top: -11px;
    }

    & h3 {
      font-size: 18px;
      line-height: 18px;
    }
  }
}

@media (max-width: $mobile-width) {
  .about {
    &::before {
      background-size: cover;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 402px;
      height: auto;
      background-position: 28% 0;
    }
  }

  .about__container {
    padding: 448px 0 30px;
  }

  .about__text {
    padding-left: 0;

    & h2 {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 33px;
    }

    & span {
      font-size: 26px;
      line-height: 26px;
      top: -2px;
    }

    & h3 {
      font-size: 16px;
      line-height: 16px;
    }

    & p {
      line-height: 20px;
      margin-bottom: 43px;
    }
  }
}
