.footer {
  width: 100%;
  border-top: 1px solid rgb(44, 56, 63, 0.2);
}

.footer__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__navigation {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin-bottom: 16px;
}

.footer__logo {
  color: #2d383f;
  margin-right: auto;

  &:hover {
    @include hover;
    color: #1c3374;
  }

  &:focus {
    @include focus;
    color: #1c3374;
  }

  &:active {
    @include active;
    color: #0266c1;
  }
}

.footer__nav {
  display: flex;
  gap: 21px;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 21px;
  max-width: 600px;

  & a {
    padding: 0 5px;
    color: #2d383f;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    &:hover {
      @include hover;
      border-bottom: 1px solid #2d383f;
    }

    &:not(:disabled):focus {
      @include focus;
      outline: 1px solid #2d383f;
    }

    &:active {
      @include active;
    }
  }
}

.footer__contact {
  color: #2d383f;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-left: auto;

  &:hover {
    @include hover;
    color: #1c3374;
  }

  &:focus {
    @include focus;
    color: #1c3374;
  }

  &:active {
    @include active;
    color: #0266c1;
  }
}

.footer__social {
  width: 100%;
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
  width: 100%;
  justify-content: center;

  & li {
    display: flex;
    width: 30px;
    height: 30px;
  }

  & a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(45, 56, 63, 0.3);

    &:hover {
      @include hover;
      border-color: #2d383f;
    }

    &:focus {
      @include focus;
      border-color: #2d383f;
    }

    &:active {
      @include active;
      border: none;
      background-color: #0266c1;
    }

    &:active svg {
      color: $color-default-white;
    }
  }
}

.footer__copyright {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: #2d383f;
}

@media (max-width: $tablet-width) {
  .footer__container {
    padding: 44px 30px 40px;
    max-width: 100%;
  }

  .footer__navigation {
    margin-bottom: 37px;
    justify-content: space-between;
  }

  .footer__logo {
    margin: 0;
    & svg {
      width: 118px;
      height: 34px;
    }
  }

  .footer__nav-list {
    gap: 9px;
    max-width: 100%;

    & a {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .footer__contact {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .footer__container {
    padding: 30px 0;
    max-width: 100%;
    align-items: flex-start;
    margin: 0 auto;
  }

  .footer__navigation {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__logo {
    margin-bottom: 20px;
    & svg {
      width: 112px;
    }
  }

  .footer__nav {
    width: 100%;
    display: flex;
    gap: 0;
    justify-content: space-between;
  }

  .footer__nav-list {
    flex-direction: column;
    width: 140px;

    & a {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .footer__social-list {
    justify-content: flex-start;
  }

  .footer__contact {
    display: none;
  }
}
