.tours {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/tours/clouds.png");
    background-size: cover;
    top: 0;
    right: 0;
    width: 602px;
    height: 1364px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../img/tours/clouds-small.png");
    background-size: 837px 279px;
    background-repeat: no-repeat;
    width: 837px;
    height: 279px;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

.tours__container {
  position: relative;
  padding: 119px 0 102px;
  max-width: 1200px;
  margin: 0 auto;
}

.tours__title {
  width: fit-content;
  font-size: 35px;
  line-height: 35px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 58px;
  color: #2d383f;
}

.tours__shadow {
  position: absolute;
  color: rgb(45, 56, 63, 0.03);
  font-size: 55px;
  line-height: 55px;
  font-weight: 800;
  top: 100px;
}

.tours__buttons {
  position: absolute;
  display: flex;
  top: 123px;
  right: 0;
  gap: 4px;
}

.tours__button {
  display: flex;
  width: 37px;
  height: 35px;
  background-color: #0266c1;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  &:not(:disabled):hover {
    @include hover;
    outline: 1px solid #1c3374;
    background-color: transparent;
  }

  &:not(:disabled):hover svg {
    color: #1c3374;
  }

  &:not(:disabled):focus {
    @include focus;
    outline: 1px solid #1c3374;
    background-color: transparent;
  }

  &:not(:disabled):focus svg {
    color: #1c3374;
  }

  &:not(:disabled):active {
    @include active;
    background-color: #1c3374;
  }

  &:not(:disabled):active svg {
    @include active;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 10%;
    cursor: default;
  }
}

.tours__button svg {
  color: $color-default-white;
}

.tours__slider {
  margin-bottom: 52px;
}

.tours__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 412px;
  max-width: 380px;
  padding: 206px 20px 28px;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(
      --overlay-60,
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 11.9%, rgba(0, 0, 0, 0) 100%)
    );
  }

  & h3 {
    position: relative;
    max-width: 233px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: $color-default-white;
    z-index: 2;
    margin: 0;
    margin-bottom: 38px;

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background-color: rgb(255, 255, 255, 0.2);
      bottom: -17px;
      left: 0;
    }
  }
}

.tours__slide--caucasus {
  background-image: url("../../img/tours/caucasus.jpg");
  background-size: cover;
}

.tours__slide--altai {
  background-image: url("../../img/tours/altai.jpg");
  background-size: cover;
}

.tours__slide--adygeya {
  background-image: url("../../img/tours/adygeya.jpg");
  background-size: cover;
}

.tours__data {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color-default-white;
  z-index: 2;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  max-width: 100%;
  margin-bottom: 23px;
}

.tours__point {
  position: relative;
  display: flex;
  min-width: 108px;
  min-height: 29px;
  align-items: center;
  justify-content: center;
  background-color: #0266c1;
  padding-left: 15px;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/svg/pin.svg");
    width: 9px;
    height: 12px;
    top: 9px;
    left: 24px;
  }
}

.tours__days {
  display: flex;
  position: relative;
  padding-left: 34px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/svg/sun.svg");
    width: 20px;
    height: 20px;
    top: 5px;
    left: 0;
  }
}

.tours__nights {
  display: flex;
  position: relative;
  padding-left: 33px;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../../img/svg/moon.svg");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 0;
  }
}

.tours__conditions {
  display: flex;
  margin: 0;
  max-width: 100%;
  flex-wrap: wrap;
  color: $color-default-white;
}

.tours__name {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  max-width: 88px;

  & dt {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    z-index: 2;
  }

  & dd {
    margin: 0;
    z-index: 2;
    display: flex;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }
}

.tours__name--dates {
  margin: 0 auto;
}

.tours__star {
  background-image: url("../../img/svg/star.svg");
  width: 15px;
  height: 14px;
}

.tours__star--full {
  background-image: url("../../img/svg/star-full.svg");
  width: 15px;
  height: 14px;
}

.tours__link {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: fit-content;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: #2d383f;
  font-weight: 700;
  padding: 0 24px;

  &:hover {
    @include hover;
    color: #1c3374;
  }

  &:hover svg {
    @include hover;
    color: #1c3374;
  }

  &:focus {
    @include focus;
    color: #1c3374;
  }

  &:focus svg {
    @include focus;
    color: #1c3374;
  }

  &:active {
    @include active;
    color: #0266c1;
  }

  &:active svg {
    @include active;
    color: #0266c1;
  }
}

.tours__link svg {
  position: absolute;
  top: 1px;
  right: 0;
}

@media (max-width: $tablet-width) {
  .tours {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../../img/tours/clouds.png");
      background-size: cover;
      top: -110px;
      right: 0;
      width: 270px;
      overflow: hidden;
    }

    &::after {
      display: none;
    }
  }

  .tours__container {
    padding: 70px 37px;
    max-width: 100%;
    margin: 0;
  }

  .tours__title {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 46px;
  }

  .tours__shadow {
    font-size: 40px;
    line-height: 40px;
    top: 58px;
  }

  .tours__buttons {
    top: 70px;
    right: 37px;
  }

  .tours__slider {
    margin-bottom: 50px;
  }

  .tours__slide {
    min-height: 412px;
    min-width: 324px;
    max-width: 100%;
    padding: 206px 20px 28px;
  }

  .tours__point {
    min-width: 97px;

    &::before {
      left: 15px;
    }
  }

  .tours__name {
    max-width: 84px;

    & dd {
      gap: 3px;
    }
  }
}

@media (max-width: $mobile-width) {
  .tours {
    &::before {
      background-image: url("../../img/tours/clouds-mobile.jpg");
      top: 134px;
      right: 0px;
      width: 173px;
      height: 595px;
      overflow: hidden;
    }

    &::after {
      display: none;
    }
  }

  .tours__container {
    padding: 60px 0;
  }

  .tours__title {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 28px;
    max-width: 156px;
  }

  .tours__shadow {
    font-size: 26px;
    line-height: 26px;
    top: 56px;
  }

  .tours__buttons {
    top: 60px;
    right: 0;
  }

  .tours__slider {
    margin-bottom: 29px;
  }

  .tours__slide {
    min-height: 412px;
    min-width: 100%;
    max-width: 100%;
    padding: 194px 20px 28px;

    & h3 {
      max-width: 194px;
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 31px;
    }
  }

  .tours__data {
    position: relative;
    margin-bottom: 59px;
    gap: 16px;
  }

  .tours__point {
    position: absolute;
    top: 35px;
  }

  .tours__days {
    margin: 0;
    min-height: 20px;

    &::before {
      top: 0;
    }
  }

  .tours__nights {
    min-height: 20px;

    &::before {
      top: 0;
    }
  }

  .tours__name {
    max-width: 84px;
  }

  .tours__star {
    width: 13px;
    height: 13px;
  }

  .tours__star--full {
    width: 13px;
    height: 13px;
  }

  .tours__link {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }

  .tours__link svg {
    position: absolute;
    top: 0;
  }
}
